@model AuthorViewModel;
@{
    ViewData["Title"] = "Author";
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <p>Born: @Model.BirthYear</p>
    @if(Model.CoverPhotoUrl != null)
    {
        <img style="height: 300px" src="@Model.CoverPhotoUrl" alt="@Model.Name"/>
    }
    
    @if(Model.Bio != null)
    {
        <p>@Model.Bio</p>
    }

    <p>Books by Author:</p>
    @foreach(BookViewModel book in Model.Books)
    {   
         <a asp-controller="Catalogue"
             asp-action="@book.ISBN">
             <p>@book.Title</p>
        </a>
    }
</div>