@model BookViewModel;
@{
    ViewData["Title"] = "Book";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    <h2>
        @foreach(AuthorViewModel author in Model.Authors)
        {
            <a asp-controller="Authors"
                asp-action="@author.ID">@author.Name</a>
        }
    </h2>
    <p>Published: @Model.Year</p>
    @if(Model.CoverPhotoUrl != null)
    {
        <img src="@Model.CoverPhotoUrl" alt="@Model.Title"/>
    }
    <p>ISBN: @Model.ISBN</p>
    <p>Copies: @Model.Copies</p>
    <p>@Model.Blurb</p>


</div>
