@model List<BookViewModel>
@{
    ViewData["Title"] = "Library Catalogue";
}

<div class="text-center col-md-4 mb-4 container">
    <h1 class="card display-4 row justify-content-center">Welcome to the Library Catalogue</h1>
    @foreach (BookViewModel book in Model)
        {
            <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img src="@book.CoverPhotoUrl" class="img-fluid rounded-start" alt="@book.Title Cover">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        @foreach(AuthorViewModel author in book.Authors)
                        {
                            <a asp-controller="Authors"
                                asp-action="@author.Name">
                                <p class="card-text">@author.Name</p>
                            </a>
                        }
                        
                    </div>
                    </div>
                </div>
            </div>
        }
</div>